.Home {
	display: grid;
	grid-template-columns: 300px 1fr;
	grid-gap: 20px;
  }
  
  .search-column {
	grid-column: 1 / 2;
  }
  
  .content-column {
	grid-column: 2 / 3;
  }

  .search-result-links {
	display: inline-block;
  }
  
  .search-result-tag {
	display: inline-block;
  }

  ul {
	columns: 3;
	-webkit-columns: 3;
	-moz-columns: 3;
  }
  