.Home {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 20px;
	grid-template-areas: "header header header"
						 "overview content search";
}

.search {
	grid-area: search;
}

.content {
  grid-area: content;
}

.overview {
  grid-area: overview;
  max-height: 100vh;
  overflow-y: auto;
}

.search-result-links {
	display: inline-block;
}

.search-result-tag {
	display: inline-block;
}

ul {
	columns: 1;
	-webkit-columns: 1;
	-moz-columns: 1;
}

.search-input {
	width: 100%;
	padding: 0;
	margin: 0;
  }

  .raw-input {
	display: flex;
	flex-direction: column;
	height: 100vh; /* Set the height to 100% of the viewport height */
	padding: 20px; /* Add padding to the sides */
	box-sizing: border-box; /* Include padding and border in the element's total width and height */
  }

  textarea {
	flex-grow: 1;
	font-size: 18px;
	margin-bottom: 20px;
	padding: 10px;
	box-sizing: border-box;
	height: calc(100% - 40px); /* Subtract the top and bottom padding from the available height */
  }

.projects-list
{
	display: flex;
	gap: 20px;
}

.project-preview
{
	background-color: white;
	border-radius: 1em;
	background-size: cover;
	overflow: hidden;
	border: none;
	cursor: pointer;
	width: 250px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.project-info
{
	margin: 1em;
}

.project-preview img
{
	max-height: 150px;

	max-width: 250px;
	height: auto;
}

.project-add-new {
	display: grid;
	align-items: center;
	justify-content: center;
}